main {
    margin-bottom: -10px;
}

.SinglePage em {
    font-style: italic;
}

/* Títulos */
.cc-bootstrap-wrapper h2.title {
    font-family: 'Geomanist Regular' !important;
}

.cc-bootstrap-wrapper h2.title {
    font-size: 20px;
}

/* Cores */
.cc-bootstrap-wrapper .orange {
    color: #00a84a;
}

/* All Posts Module */
.cc-bootstrap-wrapper.cc-all-posts-module {
    padding-top: 25px;
    padding-bottom: 40px;
}

.cc-bootstrap-wrapper.cc-all-posts-module .cc-post .cc-post-metas {
    font-family: "OpenSans-Bold", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
.cc-bootstrap-wrapper.cc-all-posts-module .cc-post .cc-post-metas span.cc-post-metas-category {
    color: #00a84a; 
    font-size: 12px;
    line-height: 12px;
}

.cc-bootstrap-wrapper.cc-all-posts-module .cc-post .cc-post-metas span.cc-post-metas-separator {
    color: #afafaf;
}

.cc-bootstrap-wrapper.cc-all-posts-module .cc-post .cc-post-metas span.cc-post-metas-date {
    color: #b4b3b2;
    font-size: 11px;
}

.cc-bootstrap-wrapper.cc-all-posts-module .cc-post a.cc-post-title {
    color: #000;
    margin-bottom: 10px;
}

.cc-bootstrap-wrapper.cc-all-posts-module .cc-post a.cc-post-title:hover {
    color: #00a84a;
    text-decoration: none;
}

.cc-bootstrap-wrapper.cc-all-posts-module .cc-post a.cc-post-title h3::before {
    height: 100%;
    max-height: 69px;
    max-width: 4px;
    background: #00a84a;
    color: #00a84a;
    content: "cc";
    position: absolute;
    left: 15px;
    top: 5px;
    overflow: hidden;
}

.cc-bootstrap-wrapper.cc-all-posts-module .cc-post a.cc-post-title h3 {
    font-family: "OpenSans-Semibold", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 24px;
    min-height: 69px;
    padding-left: 15px;
}

.cc-bootstrap-wrapper.cc-all-posts-module .cc-post div.cc-post-excerpt {
    font-family: 'Geomanist Regular' !important;
}

.cc-bootstrap-wrapper.cc-all-posts-module .cc-post div.cc-post-excerpt p {
    color: #6b6b6b;
    font-family: 'Geomanist Regular' !important;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}

.cc-bootstrap-wrapper.cc-all-posts-module hr.cc-divider {
    border-bottom: 1px solid #9a9a9a;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* Search Module */
.cc-bootstrap-wrapper.cc-search-module .cc-search-module-nav {
    border-bottom: 1px solid #c5c5c4;
}

.cc-bootstrap-wrapper.cc-search-module .cc-search-module-nav-item-link {
    color: #b4b3b2;
    font-family: 'Geomanist Regular' !important;
    font-size: 28px;
    line-height: 1em;
    border: 1px solid #c5c5c4 !important;
    border-radius: 0;
    padding: 10px 25px;
    letter-spacing: 1px;
    border-left: 0 !important;
}

.cc-bootstrap-wrapper.cc-search-module .cc-search-module-nav-item-link:hover {
    background: rgba(0, 0, 0, 0.03);
}

.cc-bootstrap-wrapper.cc-search-module .cc-search-module-nav-item-link.active {
    background: #FFF !important;
    color: #00a84a;
    border-bottom: 1px solid #fff !important;
    cursor: default;
}

.cc-bootstrap-wrapper.cc-search-module .cc-search-module-nav-item:first-child .cc-search-module-nav-item-link {
    border-left: 1px solid #c5c5c4 !important;
}

.cc-bootstrap-wrapper.cc-search-module .cc-search-module-result-title {
    font-family: 'isidora_sansbold', Helvetica, Arial, sans-serif !important;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 18px;
    color: #b4b3b2;
    margin-top: 30px;
    margin-bottom: 10px;
}

.cc-bootstrap-wrapper.cc-search-module .cc-search-module-result-title-value {
    font-size: 12px;
    line-height: 1em;
    text-transform: uppercase;
    margin-top: 4px;
    letter-spacing: 1px;
}

.cc-bootstrap-wrapper.cc-search-module .cc-search-module-nav-item-link.active .cc-search-module-result-title-value {
    color: #b4b3b2 !important;
}

.cc-bootstrap-wrapper.cc-search-module .card {
    border: 0;
    border-radius: 0 !important;
}

.cc-bootstrap-wrapper.cc-search-module .card-header {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #00a84a;
    padding: 0;
}

.cc-bootstrap-wrapper.cc-search-module .card-body {
    background-color: #f4f4f4;
    font-size: 16px;
    font-family: 'isidora_sans', Helvetica, Arial, sans-serif !important;
    line-height: 1.5em;
}

.cc-bootstrap-wrapper.cc-search-module .card-body ol li,
.cc-bootstrap-wrapper.cc-search-module .card-body ul li {
    font-family: 'isidora_sans', Helvetica, Arial, sans-serif !important;
    font-size: 16px;
}

.cc-bootstrap-wrapper.cc-search-module .card-body a {
    line-height: 1em;
    font-family: 'isidora_sansbold', Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    color: #00a84a !important;
}

.cc-bootstrap-wrapper.cc-search-module .card-header button {
    text-decoration: none;
    padding: 15px 0 12px;
    line-height: 1em;
    border-radius: 0;
}

.cc-bootstrap-wrapper.cc-search-module .card-header span {
    color: #495057;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'isidora_sansbold', Helvetica, Arial, sans-serif !important;
    white-space: normal !important;
}

.cc-bootstrap-wrapper.cc-search-module .card-header svg {
    fill: #495057;
    overflow: visible;
}

.cc-bootstrap-wrapper.cc-search-module .card-header button:hover {
    border-radius: 0;
}

.cc-bootstrap-wrapper.cc-search-module .card-header button:hover span {
    color: #00a84a;
}

.cc-bootstrap-wrapper.cc-search-module .card-header button:hover svg {
    fill: #00a84a;
}

/* CC Cookies Module */
.cc-cookies {
    display: none;
    width: 100%;
    background: #00bd19;
    padding: 10px 25px;
    position: fixed;
    bottom: 0;
    z-index: 99999999;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

.cc-cookies p {
    font-family: 'Geomanist Regular' !important;
    font-size: 14px;
    line-height: 1.2em;
    color: #FFF;
}

.cc-cookies p a {
    color: #FFF;
    font-weight: bold;
}

.cc-cookies p a:hover {
    text-decoration: underline;
}

.cc-cookies button {
    font-family: 'Geomanist Regular' !important;
    font-size: 16px;
    font-weight: bold;
    background: #00a84a;
    border-color: #00a84a;
    padding: 8px 20px;
    line-height: 1;
}

.cc-cookies button:hover {
    background-color: #ffbd00;
    background-color: #ffbd00;
    -webkit-transition: background-color 0.1s;
    transition: background-color 0.1s;
}